@charset "utf-8";
#perinfo {
	display: block;
	width: 100%;
	float: left;
	position: relative;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	background-color: #EEE;
}
@media screen and (min-width: 300px){
#personneledu {
	display: block;
	width: 100%;
	float: left;
	position: relative;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}
#personnelwork {
	display: block;
	width: 100%;
	float: right;
	position: relative;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}
#personnelimg {
	background-color: #666;
	width: 98%;
	float: left;
	position: relative;
	padding: 5px;
}
#personnelimg img {
	width: 120px;
}
#personnelinfo1 {
	display: block;
	padding: 0px;
	float: left;
	width: 100%;
	position: relative;
	border-right-style: solid;
	border-right-color: #FFF;
	border-right-width: thin;
}
}
@media screen and (min-width: 980px){
#personneledu {
	display: block;
	width: 100%;
	float: left;
	position: relative;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}
#personnelwork {
	display: block;
	width: 100%;
	float: right;
	position: relative;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}
#personnelimg {
	background-color: #999;
	width: 98%;
	float: left;
	position: relative;
	padding: 5px;
}
#personnelimg img {
	width: 120px;
}
#personnelinfo1 {
	display: block;
	padding: 0px;
	float: left;
	width: 49%;
	position: relative;
	border-right-style: solid;
	border-right-color: #FFF;
	border-right-width: thin;
}
}
@media screen and (min-width: 1340px){
#personneledu {
	display: block;
	width: 49%;
	float: left;
	position: relative;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}
#personnelwork {
	display: block;
	width: 49%;
	float: right;
	position: relative;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}
#personnelimg {
	background-color: #666;
	width: 180px;
	float: left;
	position: relative;
	padding: 5px;
}
#personnelimg img {
	width: 180px;
}
#personnelinfo1 {
	display: block;
	padding: 0px;
	float: left;
	width: 40%;
	position: relative;
	border-right-style: solid;
	border-right-color: #FFF;
	border-right-width: thin;
}
}
#personnelinfo1 ul{
	padding-left: 15px;
	padding-right: 15px;
}
#personnelinfo1 ul li{
	margin: 5px;
	padding: 5px;
	border-bottom-width: thin;
	border-bottom-style: dashed;
	border-bottom-color: #333;
	list-style:none;
}